<%= form_for(@proyect) do |f| %>
  <% if @proyect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyect.errors.count, "error") %> prohibited this proyect from being saved:</h2>

      <ul>
      <% @proyect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br />
    <%= f.text_area :subtitle %>
  </div>
  <br>
  <div class="field">
    <%= f.label :back_image %><br />
    <%= f.text_field :back_image %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: "col-md-12"  %>
  </div>
  <div class="field">
    <%= f.label :thumb %><br />
    <%= f.text_field :thumb %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.text_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
