
<div style="background-image: url('/assets/<%=@proyect.back_image %>');" class="row">
	<div class="container">
		<h1 style="margin-top:5%; color:white" class="featurette-heading"><%= @proyect.title %></h1>
		<p style="color:white" class="lead"><%= @proyect.subtitle %></p>

	</div>
</div>
<div class="container">
	<div class="col-md-8">
		<br>
		<p class="lead">
		  <%= @proyect.description.html_safe %>
		</p>
	</div>
	<div class="col-md-4">
	  <br>
     <ul class="lightGallery">
      <li data-src="/assets/<%= @proyect.galeria1 %>">
        <img src="/assets/<%= @proyect.galeria1 %>" />
      </li>
      <li data-src="/assets/<%= @proyect.galeria2 %>">
        <img src="/assets/<%= @proyect.galeria2 %>" />
      </li>
      <li data-src="/assets/<%= @proyect.galeria2 %>">
        <img src="/assets/<%= @proyect.galeria2 %>" />
      </li>
      <li data-src="/assets/<%= @proyect.galeria2 %>">
        <img src="/assets/<%= @proyect.galeria2 %>" />
      </li>
    </ul>
  </div>
</div>
<hr>
<%= render partial: "static_pages/proyect_carousel" %>
<br>

<script type="text/javascript">
  $(document).ready(function() {
    $(".lightGallery").lightGallery(); 
  });
</script>