
<div style="background-image: url('/assets/<%=@proyect.back_image %>');" class="row">
	<div class="container">
		<h1 style="margin-top:0%; color:white" class="naku-font"><%= @proyect.title %></h1>
		<p style="color:white" class="naku-font"><%= @proyect.subtitle %></p>

	</div>
</div>
<div class="container">
	<div class="col-md-8">
		<br>
		<p style="text-align:justify" class="lead">
		  <%= @proyect.description.html_safe %>
		</p>
	</div>
	<div class="col-md-4">
	  <br>
     <p style="text-align:center">Da click para ver la imagen:</p>
     <ul class="lightGallery">
      <li data-src="/assets/<%= @proyect.galeria1 %>">
        <img src="/assets/<%= @proyect.galeria1 %>" />
      </li>
      <li data-src="/assets/<%= @proyect.galeria2 %>">
        <img src="/assets/<%= @proyect.galeria2 %>" />
      </li>
      <li data-src="/assets/<%= @proyect.galeria3 %>">
        <img src="/assets/<%= @proyect.galeria3 %>" />
      </li>
      <li data-src="/assets/<%= @proyect.galeria4 %>">
        <img src="/assets/<%= @proyect.galeria4 %>" />
      </li>
    </ul>
  </div>
</div>
<hr>
<%= render partial: "static_pages/proyect_carousel" %>
<br>

<script type="text/javascript">
  $(document).ready(function() {
    $(".lightGallery").lightGallery();
  });
</script>
