<div style="background-image: url('/assets/sandpaper.png')" class="row">
	<div class="container">
		<footer>
			<div class="col-md-4">
				<h3>Contacto</h3>
				<hr>
				<p><span class="glyphicon glyphicon-flag"></span> Fundación Origen
				Nakú A.C</p>
				<p>Calle Arco del triunfo No. 9744 A, Fraccionamiento Rinconada
					los Arcos, Puebla Mexico. C.P. 72480</p>
				<p><span class="glyphicon glyphicon-earphone"></span> (222) 225 1414</p>
				<p><span class="glyphicon glyphicon-earphone"></span> (222) 302 0429</p>
				<p><span class="glyphicon glyphicon-earphone"></span> (222) 302 0430</p>
				<p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:emilio.macedo@fundacionorigennaku.org"> emilio.macedo@fundacionorigennaku.org</a></p>
				<p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:emilio.macedo@fundacionorigennaku.org"> emilio.macedo@fundacionorigennaku.org</a></p>
				<div style="width:250px"><%= image_tag('http://www.poderpda.com/wp-content/uploads/2012/03/Google-Maps-being-offline-doesnt-mean-being-lost.gif') %></div>
			</div>
	  		
	  		<div class="col-md-4">
	  			<h3>Últimos tweets</h3>
	  			<hr>
	  			<% @tweet_news.each do |tweet| %>
					<div class="col-md-2"><%= image_tag('ftwt.png') %></div>
					<div class="col-md-10">
	  					<p>
	  						<%= link_to tweet.user.screen_name, "https://twitter.com/OrigenNaku", target: "_blank" %>
	  					</p>
	  					<p>	
	  						<%= twitter_text(tweet.text) %> 
	  					</p>
	  				</div>
  				<% end %>
	  		</div>
	  		<div class="col-md-4">
	  			<h3>Síguenos</h3>
	  			<hr>
	  			<div class="row">
		  			<div class="col-md-2"><%= link_to image_tag('http://a5.mzstatic.com/us/r30/Purple/v4/f7/25/73/f725731b-6ddf-c2a2-32a6-3029c3e7225a/mzl.uyyqawdj.png'), "https://www.facebook.com/FundacionOrigenNaku?fref=ts", target: "_blank"  %></div>
		  			<div class="col-md-10">Fundación Origen Nakú</div>
				</div>
				<br>
				<div class="row">
		  			<div class="col-md-2"><%= link_to image_tag('http://www.compra-bitcoins.es/img/twitter-compra-bitcoins.png'), "https://twitter.com/OrigenNaku", target: "_blank"  %></div>
		  			<div class="col-md-10">@OrigenNaku</div>
		  		</div>
		  		<br>
		  		<div class="row">
		  			<div class="col-md-2"><%= link_to image_tag('http://rack.1.mshcdn.com/media/ZgkyMDEzLzA4LzI5Lzg2L3lvdXR1YmVsb2dvLjNmZmMzLmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/334cf6a5/be5/youtube-logo.jpg'), "https://www.youtube.com/channel/UCbjZOvJhXKosTHTueEqgThg", target: "_blank"  %></div>
		  			<div class="col-md-10">Fundación Origen Nakú</div>
				</div>
	  		</div>
	  		<br>
		</footer>
	</div>
	<br>
</div> 
<div class="row" style="background-color:black">
	<div class="container">
		<div class="col-md-4">
			<p class="lead" style="color:white">Desarrollado por <a style="" href="https://twitter.com/JulioAhuactzin" target="_blank">@JulioAhuactzin</a></p>
		</div>
	</div>
</div>