<div style="background-image: url('/assets/sandpaper.png')" class="row">
	<div class="container">
		<footer>
			<div class="col-md-4">
				<h3>Contacto</h3>
				<hr>
				<p><span class="glyphicon glyphicon-flag"></span> Fundación Origen
				Nakú A.C</p>
				<p>Calle Arco del triunfo No. 9744 A, Fraccionamiento Rinconada
					los Arcos, Puebla Mexico. C.P. 72480</p>
				<p><span class="glyphicon glyphicon-earphone"></span> (222) 225 1414</p>
				<p><span class="glyphicon glyphicon-earphone"></span> (222) 302 0429</p>
				<p><span class="glyphicon glyphicon-earphone"></span> (222) 302 0430</p>
				<p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:emilio.macedo@fundacionorigennaku.org"> emilio.macedo@fundacionorigennaku.org</a></p>
				<p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:emilio.macedo@fundacionorigennaku.org"> emilio.macedo@fundacionorigennaku.org</a></p>
				<div style="width:250px"><%= image_tag('http://www.poderpda.com/wp-content/uploads/2012/03/Google-Maps-being-offline-doesnt-mean-being-lost.gif') %></div>
			</div>
	  		
	  		<div class="col-md-4">
	  			<h3>Últimos tweets</h3>
	  			<hr>
	  			<div class="col-md-2"><%= image_tag('ftwt.png') %></div>
	  			<div class="col-md-10">
	  				<p>Ds which don't look even slightly believable. If you are going to use nibh euismod tincidunt ut laoreet.
	  				<p>About 1 hour ago.</p>
	  			</div>
	  			<br>
	  			<div class="col-md-2"><%= image_tag('ftwt.png') %></div>
	  			<div class="col-md-10">
	  				<p>Ds which don't look even slightly believable. If you are going to use nibh euismod tincidunt ut laoreet.
	  				<p>About 1 hour ago.</p>
	  			</div>
	  			<br>
	  			<div class="col-md-2"><%= image_tag('ftwt.png') %></div>
	  			<div class="col-md-10">
	  				<p>Ds which don't look even slightly believable. If you are going to use nibh euismod tincidunt ut laoreet.
	  				<p>About 1 hour ago.</p>
	  			</div>
	  		</div>
	  		<div class="col-md-4">
	  			<h3>Síguenos</h3>
	  			<hr>
	  			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	  			<small><span class="glyphicon glyphicon-tag"></span> 12 Febrero 2014 </small>
	  			<p><%= link_to "Leer mas", "#" %></p>
	  			<hr>
	  			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	  			<small><span class="glyphicon glyphicon-tag"></span> 5 Febrero 2014 </small>
	  			<p><%= link_to "Leer mas", "#" %></p>
	  			<hr>
	  			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	  			<small><span class="glyphicon glyphicon-tag"></span> 2 Febrero 2014 </small>
	  			<p><%= link_to "Leer mas", "#" %></p>
	  			<hr>
	  		</div>
	  		<br>
		</footer>
	</div>
	<br>
</div> 
