<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comunidades amigas<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><%= link_to "Xaltipan y Tonalix", xaltipan_path %></li>
        <li><%= link_to "Mision tierra de gloria", tierradegloria_path %></li>
    </ul>
  </li>
	<li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programas<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="http://fundacionorigen.herokuapp.com/proyects/escuela-del-sol">Escuela del Sol</a></li>
        <li><a href="http://fundacionorigen.herokuapp.com/proyects/comedor-infantil">Comedor infantil</a></li>
        <li><a href="http://fundacionorigen.herokuapp.com/proyects/jornadas-solidarias">Jornadas solidarias</a></li>
        <li><a href="http://fundacionorigen.herokuapp.com/proyects/dia-del-nino">Día del niño</a></li>
		   <!-- <li><a href="#">Mision Tierra de Gloria</a></li>
        <li><a href="#">Travesia Tepeyolotl</a></li> -->
        <li><a href="http://fundacionorigen.herokuapp.com/proyects/manos-hermanas">Manos hermanas</a></li>
        <li><a href="http://fundacionorigen.herokuapp.com/proyects/una-navidad-para-todos">Una navidad para todos</a></li>
      </ul>
    </li>	
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicio social y voluntaríado<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Universitarios", universitarios_path %></li>
        <li><%= link_to "Voluntaríado", voluntariado_path %></li>
      </ul>
    </li>
	<li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">¿Cómo Ayudar?<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="http://fundacionorigen.herokuapp.com/proyects/programa-de-apadrinamiento">Apadrinamientos</a></li>
        <li>
          <a href="http://fundacionorigen.herokuapp.com/proyects/donativos">Donativos</a>
        </li>
        <li class="divider"></li>
        <li><a href="http://fundacionorigen.herokuapp.com/proyects/tarde-de-postres">Tarde de postres</a></li>
      </ul>
    </li>
	<li><%= link_to 'Contacto', '/contacto'%></li>
</ul>	

<script type="text/javascript">
$(document).ready(function(){
    $('.navbar .dropdown').hover(function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(150).slideDown();
    }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
    });
})

</script>